<span class="page-title">Cotizaciones</span>
<div class="card">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Creada Por</th>
                    <th>Total</th>
                    <th [width]="150"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/04/2023 09:50:00 AM</td>
                    <td>Marcos Olivares Méndez</td>
                    <td>Rufino Rojas Martinéz</td>
                    <td>$10000,00 (MXN)</td>
                    <td [width]="150">
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>