<span class="page-title">Inventarios</span>
<div class="card">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Metraje Total</th>
                    <th>Metraje Habitable</th>
                    <th>Habitacioes</th>
                    <th>Baños</th>
                    <th>Terraza</th>
                    <th>Estacionamiento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Tipo GH4</td>
                    <td>51.8 mt</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>1</td>
                    <td>31.73 mt</td>
                    <td>1</td>
                    <td>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn-round-icon ml-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>